# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
env/

# Training outputs
runs/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# Model files (optional)
*.pt